.account {
  &__text {
    font-family: "Inter-regular";
    font-size: 0.875rem;
    line-height: 1.125rem;
    @media (max-width: 768.98px) {
      font-size: 1rem;
      line-height: 1.25rem;
    }
  }
}
