.account {
  display: flex;
  align-items: center;
}

.header {
  cursor: pointer;
  position: relative;

  @media (max-width: 768.98px) {
    font-size: 1rem;
    line-height: 1.25rem;
    padding: 1.25rem 0;
    display: none;
    padding: 0;
    margin: 0px;
  }
}

.cabinet {
  width: 17.813rem;
  position: absolute;
  top: 3rem;
  right: 1vw;

  border-radius: 0.75rem;
  border: 1px solid $linegray;
  background: white;
  box-shadow: 0 0.125rem 0.5rem 0 rgba(25, 25, 25, 0.1);

  @media (max-width: 950px) {
    top: 4rem;
  }

  @media (max-width: 768.98px) {
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
    border-radius: 0;
    box-shadow: none;
    border: none;
  }
}

.text {
  padding: 1rem 1.25rem;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.logout {
  color: $gray-text;

  border-top: 1px solid $linegray;
}

// .content {
//   width: 100%;
// }

.bonus {
  padding: 1rem 1.25rem;
  cursor: pointer;
  color: $primary;
  transition: $fastColorTransition;

  &:hover,
  &:focus {
    color: $black;
  }

  @media (max-width: 768.98px) {
    border-top: 1px solid $linegray;
    display: inline;
  }
}

.bonus,
.content {
  border-bottom: 1px solid $linegray;

  @media (max-width: 768.98px) {
    border: 0;
  }
}

.modalWrapper {
  padding: 3rem 0;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: $white;
  border-radius: 1.5rem;
  align-items: center;
  z-index: 31;
  width: 850px;
  height: 600px;
  padding: 0.5rem;
}

.icon {
  display: flex;

  @media (max-width: 769.98px) {
    display: none;
  }
}

.activeHeader {
  color: $primary;
  transition: $fastColorTransition;
}

.header,
.text {
  transition: $fastColorTransition;

  &:hover,
  &:focus {
    color: $primary;
  }
}
