.title {
  margin-bottom: 1rem;
  text-align: center;
}
.subtitle {
  margin-bottom: 1.25rem;
}
.pre_block {
  margin-bottom: 1.25rem;
}
.registration {
  border-bottom: 2px solid $black;
  color: $black;
  transition: $trnsn2;
  &:hover,
  &:focus {
    border-bottom: 2px solid $primary;
    color: $primary;
  }
}
