.userMenu {
  display: flex;
  align-items: center;
}

.cabinet {
  width: 17.813rem;
  position: absolute;
  top: 3rem;
  right: 1vw;

  border-radius: 0.75rem;
  border: 1px solid $linegray;
  background: white;
  box-shadow: 0 0.125rem 0.5rem 0 rgba(25, 25, 25, 0.1);

  @media (max-width: 950px) {
    top: 4rem;
  }

  @media (max-width: 768.98px) {
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
    border-radius: 0;
    box-shadow: none;
    border: none;
  }
}

.text {
  padding: 1rem 1.25rem;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.logout {
  color: $gray-text;

  border-top: 1px solid $linegray;
}

.bonus {
  padding: 1rem 1.25rem;
  cursor: pointer;
  color: $primary;
  transition: $fastColorTransition;

  &:hover,
  &:focus {
    color: $black;
  }

  @media (max-width: 768.98px) {
    border-top: 1px solid $linegray;
    display: inline;
  }
}

.bonus,
.content {
  border-bottom: 1px solid $linegray;

  @media (max-width: 768.98px) {
    border: 0;
  }
}

.modal {
  background-color: $white;
  padding: 1.5rem;
  border-color: $white;
  width: 90vw;
  max-width: 620px;
  height: 90%;
  max-height: 520px;
  overflow-y: auto;
}

.icon {
  display: flex;
}

.activeHeader {
  color: $primary;
  transition: $fastColorTransition;
}

.header,
.text {
  transition: $fastColorTransition;

  &:hover,
  &:focus {
    color: $primary;
  }
}
