$primary: #ff7010;
$primary-dark: #ff7010f6;
$black: #191919;
$gray-text: #a5a5a5;
$linegray: #f0f0f0;
$bcg-gray: #f9f9f9;
$white: #ffffff;
$red: #e23535;
$light-primary: #ffeee2;
$green: #24d17e;

$trnsn1: 0.4s all ease-in;
$trnsn2: 0.2s all ease-in 0s;

$shadow: 0px 0.5px 1px 0.5px rgba(0, 0, 0, 0.5);
