.formLogin {
  @include flex-column;
  justify-content: flex-start;
  width: 100%;
}

.description {
  text-align: center;
  margin-top: 0.75rem;
  max-width: 19rem;
  opacity: 0.4;
  color: $black;

  @media (max-width: 768.98px) {
    max-width: none;
  }
}