.modal {
  @include flex-center-end;
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 31;
  transition: $mediumBcgTransition;
}


.img {
  position: absolute;
  z-index: 32;
  top: calc(50% - 12px);
  right: 425px;
  margin-top: 0.5rem;

  @media (max-width: 768.98px) {
    top: 1rem;
    right: 1rem;
  }

  img {
    @media (max-width: 768.98px) {
      filter: brightness(0) saturate(100%)
    }
  }
}