.logoWrapper {
  display: flex;
  align-items: center;
}

.headerOverflowScroll {
  @media(max-width:768.98px) {
    overflow-y: scroll;
    height: calc(100vh - 2.813rem)
  }
}

.headerNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 10;
  top: 0;
  background-color: $white;
  border-bottom: 1px solid $linegray;
}

.headerNavWrapper {
  transition: $fastBcgTransition;
  display: flex;
  flex-direction: column;
  flex: 1;
}

// middle 
.headerMiddle {
  padding: 1.25rem 0;
  position: relative;
  z-index: 29;
  transition: $mediumBcgTransition;

  @media (max-width: 768.98px) {
    padding: 0.75rem 0;
  }
}

.headerMiddleInner {
  @include flex-align;
  justify-content: space-between;
}