.loadingButton {
  position: relative;
}

.loadingImg {
  animation: 1.3s load infinite ease-in-out;
  opacity: 1;
  visibility: visible;
  margin-right: 0.5rem;
  transition: $mediumBcgTransition;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

@keyframes load {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}