.dropdown {
  @include flex-v-center;
  color: $black;
  cursor: pointer;
  &-wrapper {
    @include flex-v-center;
  }
  &-select {
    .dropdown-select__control {
      width: 6.25rem;
      border: none;
      padding: 0;
      cursor: pointer;
    }
    .dropdown-select__menu {
      min-width: 9.375rem;
    }
    .dropdown-select__value-container {
      // padding: 0;
    }
    .dropdown-select__indicator {
      padding: 0;
    }
    .dropdown-select__indicator-separator {
      display: none;
    }
  }
}
