.dropdown {
  @include flex-v-center;
  color: $black;
  cursor: pointer;
  &-wrapper {
    @include flex-v-center;
  }
  &-select {
    .dropdown-select__control {
      width: 6.25rem;
      border: none;
      padding: 0;
      cursor: pointer;
    }
    .dropdown-select {
      z-index: 20;
    }
    .dropdown-select__menu {
      min-width: 9.375rem;
      // position: relative;
      z-index: 25;
    }
    .dropdown-select__value-container {
      // padding: 0;
      // z-index: 9;
    }
    .dropdown-select__indicator {
      padding: 0;
      @media (max-width: 425.98px) {
        @include visually-hidden;
      }
    }
    .dropdown-select__indicator-separator {
      display: none;
    }
  }
}
