.inner {
  @include flex-column;
  background-color: $white;
  transition: $mediumBcgTransition;
}

.burgerAccount {
  border-color: $linegray;
  border-style: solid;
  border-width: 0.063rem 0 0.063rem 0;
  padding: 20px 0;
}

.burgerAuth {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding-top: 2rem;

  @media(max-width: 768.98px) {
    padding: 2rem 1rem 0;
  }
}

.burgerWrapper {
  display: flex;
  flex-direction: column;
}

// BurgerNav
.burgerNavigationWrapper {
  margin-top: 1.25rem;
}

.burgerFooter {
  margin-top: 1rem;
  text-align: center;
  padding: 1rem;
  border-style: solid;
  border-color: $linegray;
  border-width: 0.063rem 0 0.063rem 0;

  @media(max-width:450.98px) {
    margin-bottom: 1.5rem;
  }
}

//contacts 
.burgerContacts {
  padding-top: 1.25rem;
}

// list 
.burgerNavigation {
  border-bottom: solid $linegray 0.063rem;
}

.burgerNavigationList {
  gap: 1.25rem;
  @include flex-column;
  padding-bottom: 1.25rem;
  // border-bottom: solid $linegray 0.063rem;
}