.formlogin {
  @include flex-column;
  justify-content: flex-start;
  font-family: "Inter";
  &__desc {
    text-align: center;
    margin-top: 0.75rem;
    max-width: 19rem;
    opacity: 0.4;
    color: $black;
  }
  &__error {
    color: red;
    display: block;
    max-width: 20rem;
  }
}
