.stockcard {
  margin-top: 1.875rem;
  display: flex;
  // max-width: 300px;
  justify-content: start;
  gap: 1.875rem;
  font-family: "Inter-regular";
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
  color: $white;

  &__red,
  &__orange {
    width: 18.75rem;
    height: 21.438rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 20px;
    div {
      white-space: pre-wrap;
    }
    p {
    }
  }
}
