.checkadress {
  border-radius: 0.5rem;
  border: 0.063rem solid $linegray;
  background: $white;
  padding: 1rem 2rem;
  margin-top: 1.875rem;

  display: flex;
  align-items: center;
  input {
    width: 48.938rem;
    height: 3rem;
    margin-bottom: 0;
  }
}
