$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Inter', sans-serif;

$primary: #ff7010;
$primary-dark: #ff7010f6;
$light-primary: #ffeee2;
$black: #191919;
$gray-text: #a5a5a5;
$linegray: #f0f0f0;
$bcg-gray: #f9f9f9;
$white: #ffffff;
$red: #e23535;
$light-primary: #ffeee2;
$green: #24d17e;

// transitions
$mediumBcgTransition: 0.4s background-color ease-in;
$fastBcgTransition: 0.2s background-color ease-in 0s;

$mediumColorTransition: 0.4s color ease;
$fastColorTransition: 0.2s color ease 0s;

$mediumBorderTransition: 0.4s border ease;
$fastBorderTransition: 0.2s border ease 0s;

$mediumColorTransition: 0.4s filter ease;
$fastFilterTransition: 0.2s filter ease-in 0s;

// shadows
$shadow: 0px 0.5px 1px 0.5px rgba(0, 0, 0, 0.5);

// filters
$primary-filter: invert(63%) sepia(40%) saturate(7042%) hue-rotate(352deg) brightness(101%)
  contrast(101%);
$red-filter: brightness(0) saturate(100%) invert(30%) sepia(24%) saturate(3621%) hue-rotate(332deg)
  brightness(113%) contrast(100%);

// :export {
//   primary-font: $primary-font;
//   secondary-font: $secondary-font;

//   primary: $primary;
//   primary-dark: $primary-dark;
//   light-primary: $light-primary;
//   black: $black;
//   gray-text: $gray-text;
//   linegray: $linegray;
//   bcg-gray: $bcg-gray;
//   white: $white;
//   red: $red;
//   light-primary: $light-primary;
//   green: $green;

//   // transitions
//   mediumBcgTransition: $mediumBcgTransition;
//   fastBcgTransition: $fastBcgTransition;

//   mediumColorTransition: $mediumColorTransition;
//   fastColorTransition: $fastColorTransition;

//   mediumBorderTransition: $mediumBorderTransition;
//   fastBorderTransition: $fastBorderTransition;

//   mediumColorTransition: mediumColorTransition;
//   fastFilterTransition: $fastFilterTransition;

//   // shadows
//   shadow: $shadow;

//   // filters
//   primary-filter: $primary-filter;
//   red-filter: $red-filter;
// }
