.headerNavigation {
  background-color: $bcg-gray;
  height: 5.313rem;
  width: 100%;
}

.headerNavigationWrapper {
  width: 100%;
  // @media(max-width:1280.98px) {
  //   width: calc(100vw - 0.938rem);
  // }
}

.fixedHeaderWrapper {
  background-color: $bcg-gray;
  will-change: box-shadow;
  transition: box-shadow 110ms;
}

.navList {
  cursor: grab;
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  scrollbar-width: thin;
  user-select: none;
  overflow-x: overlay;
  overflow-y: hidden;
  padding: 0.5rem 0;

  @media (max-width: 768.98px) {
    height: 4.375rem;
  }

  @media (max-width: 425.98px) {
    height: 3.75rem;
  }
}

.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  border: 0.064rem solid $linegray;
  background: $white;

  @media (max-width: 768.98px) {
    padding: 0.3rem 0.5rem;
  }

  svg,
  p,
  svg path {
    transition: $fastBcgTransition;
  }

  &:hover {
    img {
      filter: $red-filter;
    }

    p {
      color: $red;
    }
  }
}

.navImg {
  @include adaptiv-value(width, 24, 18, 1);
  @include adaptiv-value(height, 24, 18, 1);
  margin-right: 0.5rem;
  filter: invert(63%) sepia(40%) saturate(7042%) hue-rotate(352deg) brightness(101%) contrast(101%);
  will-change: filter;
  transition: $fastFilterTransition;
}

.navText {
  @include adaptiv-value(font-size, 18, 14, 1);
  @include adaptiv-value(line-height, 24, 18, 1);
}
