.HeaderTop {
  @include flex-v-center;
  max-height: 2.5rem;
  padding: 0.688rem 0;
  transition: $mediumBcgTransition;
  justify-content: space-between;
  @media (max-width: 950px) {
    max-height: 3.5rem;
  }
  @media (max-width: 768.98px) {
    font-size: 0.75rem;
    line-height: 1rem;
    display: flex;
    justify-content: space-between;
  }

  &_leftblock,
  &_rightblock {
    @include flex-v-center;
    @media (max-width: 1050px) {
      font-size: 0.813rem;
    }
    @media (max-width: 425.98px) {
      font-size: 0.75rem;
    }
  }
  &_leftblock {
    @media (max-width: 859.98px) {
      margin-right: 1rem;
    }

    &__delivery {
      @media (max-width: 950px) {
        max-width: 8.75rem;
      }
      @media (max-width: 768.98px) {
        max-width: none;
        flex: 1;
      }
      @media (max-width: 425.98px) {
        max-width: 8.125rem;
      }
    }
    &__checkaddress {
      margin-right: 2.5rem;
      @media (max-width: 1050px) {
        margin-right: 1rem;
      }
      @media (max-width: 768.98px) {
        @include visually-hidden;
      }
    }
  }
  &_rightblock {
    justify-content: flex-end;
    flex: 1;
    margin-right: 1rem;
    @media (max-width: 768.98px) {
      flex: unset;
    }

    &--text {
      margin-right: 2.5rem;
      @media (max-width: 1050px) {
        margin-right: 1rem;
      }
      @media (max-width: 950px) {
        max-width: 6.563rem;
      }
    }
  }
  .account,
  .account > div > .icon {
    cursor: pointer;
    display: flex;
    @media (max-width: 768.98px) {
      // @include visually-hidden;
      display: none;
      // flex: 0;
    }
  }
}
.account {
  @include flex-v-center;
}
