.wrapper {
  max-width: 310px;

  @media(max-width:768.98px) {
    max-width: none;
  }
}

.title {
  margin-bottom: 1rem;
  text-align: center;
}

.subtitle {
  margin-bottom: 1.25rem;
  text-align: center;
}

.pre_block {
  margin-bottom: 1.25rem;
}

.registration {
  border-bottom: 2px solid $black;
  color: $black;
  transition: $fastBcgTransition;

  &:hover,
  &:focus {
    border-bottom: 2px solid $primary;
    color: $primary;
  }
}