.wrapper {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding-bottom: 20px;
    // margin-bottom: 20px;
    border-bottom: 2px solid $linegray;
}

.swiper {
    margin: 0;

    @media (max-width: 1280.98px) {
        width: calc(100vw - 170px);
    }

    @media (max-width: 768.98px) {
        width: calc(100vw - 30px);
    }

    @media (max-width: 375.98px) {
        width: calc(100vw - 30px);
    }
}

.slide {
    border-radius: 0.75rem;
    min-height: 358px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    background-color: white;

    @media (max-width: 768.98px) {
        flex-direction: row;
        align-items: flex-start;
        min-height: 86px;
        padding: 0.75rem;
        border: 1px solid $linegray;
    }
}

.img {
    margin-bottom: 1rem;

    @media (max-width: 768.98px) {
        margin-bottom: 0;
        width: 100px;
        min-width: 82px;
        height: 100px;
    }
}

.text {
    width: 100%;
    padding: 1rem 30px;
    text-align: center;
    display: flex;
    flex-flow: column;
    border: 2px solid $linegray;
    border-top: none;
    border-bottom-right-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
    flex: 1;
    height: 100%;

    @media (max-width: 768.98px) {
        border: none;
        padding: 0 0 0 0.75rem;
        align-items: flex-start;
        justify-content: center;
        text-align: left;
    }
}

.textTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.title {
    margin-bottom: 0.5rem;
}

.subtitle {
    margin-bottom: 0.75rem;
}