.header {
  font-family: "Inter";
  font-size: 0.875rem;
  line-height: 1.125rem;
  background-color: $white;

  position: relative;
  z-index: 11;
  border: 1px solid $linegray;

  &__navWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: $white;
    border-bottom: 1px solid $linegray;
  }
  &__nav {
    transition: $fastBcgTransition;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
  }
  &__middle {
    @include flex-align;
    justify-content: space-between;
    padding: 1.25rem 0;
    position: relative;
    z-index: 29;
    transition: $mediumBcgTransition;
    flex: 1;
    @media (max-width: 768.98px) {
      padding: 0.75rem 0;
    }
  }
}

.fixed-header {
  @media (max-width: 768.98px) {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow-y: auto;
  }
}

.logoWrapper {
  display: flex;
  align-items: center;
}
