.wrapper {
  @include flex-align;
  cursor: pointer;
}

.img {
  margin-left: 0.75rem;

  @media (max-width: 768.98px) {
    margin-left: 0.5rem;
  }
}

.logo {
  width: auto;
  object-fit: contain;
}

// header classes
.headerWrapper {
  margin-right: 0.5rem;

  @media (max-width: 768.98px) {
    margin-right: 0;
  }
}

// Footer classes
.footerWrapper {
  @media (max-width: 991.98px) {
    margin-bottom: 1.5rem;
  }

  @media (max-width: 768.98px) {
    margin-bottom: 0;
  }
}

.footerImg {
  min-width: 1.5rem;
  min-height: 1.75rem;
}

.footerLogo {
  width: 3.5rem;
  min-height: 2.5rem;
  margin-right: 0.75rem;
  object-fit: contain;

  @media (max-width: 768.98px) {
    min-height: 1.7rem;
  }
}

// Footer classes

// fixed header classes
.fixedHeaderLogo {
  min-width: 2rem;
  margin-left: 0.75rem;
}
