.modal {
  @include flex-all-center;
  width: 100vw;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 15;
  opacity: 0;
  visibility: hidden;
  transition: $trnsn1;
  @media (max-width: 768.98px) {
    position: absolute;
  }
  &__content {
    @include flex-column;
    background-color: $white;
    padding: 3.75rem 16.563rem;
    border-radius: 1.5rem;
    align-items: center;
    position: absolute;
    z-index: 15;
    @media (max-width: 768.98px) {
      bottom: 0;
      padding: 0;
      left: 0;
      right: 0;
      top: 1.5px;
      padding: 0 20px;
    }
  }
}
.activeModal {
  visibility: visible;
  opacity: 1;
}
